.subscribe-button {
  font-family: Lora, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.footer__copyright {
  font-family: Lora, serif;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}

.footer__title, .editor-pick-card__title-link, .article-card__title-link {
  font-family: Lora, serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.title-secondary, .title-link {
  font-family: Lora, serif;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}

* {
  box-sizing: border-box;
}

.main-align {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.2);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 29.5px 0;
}
.header__right-content {
  display: flex;
}
.header__navigation {
  margin-right: 17px;
}
.header__social-networks {
  padding: 0 17px;
  border-right: 0.5px solid #E5E5E5;
  border-left: 0.5px solid #E5E5E5;
  margin-right: 17px;
}
.header_scrolled {
  background: #343A40;
  box-shadow: 0px 1px 3px rgba(212, 163, 115, 0.7);
}

.logo {
  width: 66px;
  height: 18px;
}
.logo__image {
  display: block;
  width: 100%;
}

.navigation__link {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  color: #E5E5E5;
  text-decoration: none;
  padding-bottom: 5px;
}
.navigation__link_active {
  color: #FFF;
  border-bottom: 2px solid #D4A373;
  cursor: default;
}
.navigation__link:not(:last-child) {
  margin-right: 22px;
}
.navigation__link:hover:not(.navigation__link_active) {
  filter: brightness(170%);
}

.social-networks {
  display: flex;
}
.social-networks__item {
  width: 20px;
  height: 20px;
}
.social-networks__item:not(:last-child) {
  margin-right: 18px;
}
.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.social-networks__link:hover {
  filter: brightness(170%);
}

.search-button {
  background: url(../images/search.svg) no-repeat center;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.search-button:hover {
  filter: brightness(170%);
}

.hero-section {
  background: #495057 url(../images/banner.jpg);
  background-size: cover;
}
.hero-section__inner {
  padding: 278px 0 140px;
}
.hero-section__tag {
  margin-bottom: 14px;
}
.hero-section__title {
  max-width: 530px;
  margin-bottom: 15px;
}
.hero-section__text {
  display: flex;
}
.hero-section__date {
  color: #E5E5E5;
  margin-right: 11px;
}
.hero-section__line {
  margin: 9px 10px 0 0;
}
.hero-section__paragraph {
  max-width: 420px;
  color: #E5E5E5;
}

.topic-tag {
  display: inline-block;
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 5px 10px;
}
.topic-tag:hover {
  background: rgba(212, 163, 115, 0.7);
  transition: all 0.5s;
}

.title-link {
  color: #FFF;
  text-decoration: none;
}
.title-link:hover {
  -webkit-text-decoration: underline #D4A373;
          text-decoration: underline #D4A373;
  text-underline-offset: 12px;
  transition: all 0.5s;
}

.date,
.paragraph {
  font-family: Lora, serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.line {
  width: 30px;
  height: 1px;
  border: none;
  background: #E5E5E5;
}

.central-content {
  background: #F8F9FA;
  padding: 150px 0;
}
.central-content__popular-topics {
  margin-bottom: 102px;
}
.central-content__article {
  margin-bottom: 150px;
}

.title-secondary {
  color: #495057;
}

.popular-topics__title {
  margin-bottom: 30px;
}
.popular-topics__data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.popular-topics__link {
  font-family: Lora, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  color: #495057;
  text-decoration: none;
}
.popular-topics__link:hover {
  color: #D4A373;
  transition: all 0.5s;
}

.tabs {
  display: flex;
}
.tabs__item {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: Lora, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  color: #495057;
}
.tabs__item_active {
  color: #D4A373;
  cursor: auto;
}
.tabs__item:not(:last-child) {
  margin-right: 20px;
}
.tabs__item:hover:not(.tabs__item_active) {
  filter: brightness(170%);
}

.articles {
  display: flex;
  flex-wrap: wrap;
}

.article-card {
  position: relative;
  width: calc(25% - 15px);
  background: #FFF;
  border-radius: 5px;
  margin-bottom: 52px;
}
.article-card:not(:nth-child(4n+4)) {
  margin-right: 20px;
}
.article-card__image {
  display: block;
  width: 100%;
  border-radius: 5px;
}
.article-card__topic-tags {
  position: absolute;
  top: 20px;
  right: 20px;
}
.article-card__tag {
  margin-right: 8px;
}
.article-card__content {
  padding: 17px 20px;
}
.article-card__date {
  display: block;
  color: #6C757D;
  margin-bottom: 13px;
}
.article-card__title {
  min-height: 50px;
  margin-bottom: 15px;
}
.article-card__title-link {
  color: #495057;
  text-decoration: none;
}
.article-card__title-link:hover {
  -webkit-text-decoration: underline #D4A373;
          text-decoration: underline #D4A373;
  text-underline-offset: 6px;
  transition: all 0.5s;
}
.article-card__paragraph {
  min-height: 60px;
  color: #6C757D;
  margin-bottom: 20px;
}
.article-card__author {
  display: flex;
  align-items: center;
  padding-top: 20px;
  border-top: 0.5px solid #E5E5E5;
}
.article-card__author-photo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 17px;
}
.article-card__author-title {
  font-family: Lora, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #495057;
}
.article-card__author-name {
  color: #495057;
  text-decoration: none;
}
.article-card__author-name:hover {
  color: #D4A373;
  transition: all 0.5s;
}
.article-card__author-position {
  font-family: Lora, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #6C757D;
}

.central-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #495057 url(../images/sea-background.jpg);
  background-size: cover;
  padding: 176px 0 173px;
}
.central-article__tag {
  margin-bottom: 25px;
}
.central-article__title {
  max-width: 530px;
  text-align: center;
  margin-bottom: 13px;
}
.central-article__paragraph {
  max-width: 420px;
  color: #E5E5E5;
  text-align: center;
  margin-bottom: 24px;
}
.central-article__line {
  margin: 0 0 14px 0;
}
.central-article__date {
  color: #E5E5E5;
}

.editor-pick__title {
  margin-bottom: 70px;
}

.editor-pick-articles {
  display: flex;
}

.editor-pick-card {
  position: relative;
  width: calc(33.33% - 13.33px);
  border-radius: 5px;
  padding: 151px 40px 42px;
}
.editor-pick-card:not(:nth-child(3n+3)) {
  margin-right: 20px;
}
.editor-pick-card__topic-tags {
  position: absolute;
  top: 20px;
  right: 20px;
}
.editor-pick-card__date {
  display: block;
  color: #E5E5E5;
  margin-bottom: 12px;
}
.editor-pick-card__title {
  min-height: 48px;
  margin-bottom: 15px;
}
.editor-pick-card__title-link {
  color: #FFF;
  text-decoration: none;
}
.editor-pick-card__title-link:hover {
  -webkit-text-decoration: underline #D4A373;
          text-decoration: underline #D4A373;
  text-underline-offset: 6px;
  transition: all 0.5s;
}
.editor-pick-card__paragraph {
  color: #E5E5E5;
}

.background-mountains {
  background: url(../images/background-mountains.jpg);
}

.background-suitcase {
  background: url(../images/background-suitcase.jpg);
}

.background-girl {
  background: url(../images/background-girl.jpg);
}

.footer__top-content {
  background: #212529;
}
.footer__top-content-inner {
  display: flex;
  padding: 105px 0;
}
.footer__column {
  width: calc(25% - 15px);
}
.footer__column:not(:last-child) {
  margin-right: 20px;
}
.footer__title {
  color: #FFF;
  margin-bottom: 16px;
}
.footer__contact {
  font-family: Lora, serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  display: block;
  color: #E5E5E5;
  text-decoration: none;
}
.footer__contact:not(:last-child) {
  margin-bottom: 18px;
}
.footer__contact:hover {
  color: #D4A373;
}
.footer__item:not(:last-child) {
  margin-bottom: 16px;
}
.footer__link {
  font-family: Lora, serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #E5E5E5;
  text-decoration: none;
}
.footer__link:hover {
  color: #D4A373;
}
.footer__address {
  font-family: Lora, serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #E5E5E5;
}
.footer__bottom-content {
  background: #343A40;
}
.footer__bottom-content-inner {
  display: flex;
  justify-content: space-between;
  padding: 41px 0;
}
.footer__copyright {
  color: #E5E5E5;
}

.subscribe-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #E5E5E5;
}
.subscribe-button:hover {
  color: #D4A373;
  transition: all 0.5s;
}/*# sourceMappingURL=styles.css.map */