@import './partials/variables';
@import './partials/placeholders';
@import './partials/mixins';

* {
    box-sizing: border-box;
}

.main-align {
    max-width: 1300px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    background: $black-transparent-color;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 29.5px 0;
    }

    &__right-content {
        display: flex;
    }

    &__navigation {
        margin-right: 17px;
    }

    &__social-networks {
        padding: 0 17px;
        border-right: 0.5px solid $main-color;
        border-left: 0.5px solid $main-color;
        margin-right: 17px;
    }

    &_scrolled {
        background: $medium-dark-background-color;
        box-shadow: 0px 1px 3px $light-transparent-color;
    }
}

.logo {
    @include width-height(66px, 18px);

    &__image {
        display: block;
        width: 100%;
    }
}

.navigation {
    &__link {
        @include bold-extra-small-text($secondary-font-family, normal);
        color: $main-color;
        text-decoration: none;
        padding-bottom: 5px;

        &_active {
            color: $white-color;
            border-bottom: 2px solid $secondary-color;
            cursor: default;
        }

        &:not(:last-child) {
            margin-right: 22px;
        }

        &:hover:not(.navigation__link_active) {
            filter: brightness(170%);
        }
    }
}

.social-networks {
    display: flex;

    &__item {
        @include width-height(20px, 20px);

        &:not(:last-child) {
            margin-right: 18px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        @include width-height(20px, 20px);

        &:hover {
            filter: brightness(170%);
        }
    }
}

.search-button {
    @include button(url(../images/search.svg) no-repeat center);
    @include width-height(20px, 20px);

    &:hover {
        filter: brightness(170%);
    }
}

.hero-section {
    background: $dark-color url(../images/banner.jpg);
    background-size: cover;

    &__inner {
        padding: 278px 0 140px;
    }

    &__tag {
        margin-bottom: 14px;
    }

    &__title {
        max-width: 530px;
        margin-bottom: 15px;
    }

    &__text {
        display: flex;
    }

    &__date {
        color: $main-color;
        margin-right: 11px;
    }

    &__line {
        margin: 9px 10px 0 0;
    }

    &__paragraph {
        max-width: 420px;
        color: $main-color;
    }
}

.topic-tag {
    display: inline-block;
    color: $white-color;
    font-family: $secondary-font-family;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    background: $white-transparent-color;
    border-radius: 8px;
    padding: 5px 10px;

    &:hover {
        background: $light-transparent-color;
        transition: all 0.5s;
    }
}

.title-link {
    @include title-link('%large-text', $white-color, 12px);
}

.date,
.paragraph {
    @include extra-small-text(20px);
}

.line {
    @include width-height(30px, 1px);
    border: none;
    background: $main-color;
}

.central-content {
    background: $light-background-color;
    padding: 150px 0;

    &__popular-topics {
        margin-bottom: 102px;
    }

    &__article {
        margin-bottom: 150px;
    }
}

.title-secondary {
    @extend %large-text;
    color: $dark-color;
}

.popular-topics {
    &__title {
        margin-bottom: 30px;
    }

    &__data {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__link {
        @include bold-extra-small-text($main-font-family, 25px);
        color: $dark-color;
        text-decoration: none;

        &:hover {
            color: $secondary-color;
            transition: all 0.5s;
        }
    }    
}

.tabs {
    display: flex;

    &__item {
        @include button(none);
        @include bold-extra-small-text($main-font-family, 25px);
        color: $dark-color;

        &_active {
            color: $secondary-color;
            cursor: auto;
        }

        &:not(:last-child) {
            margin-right: 20px;
        }

        &:hover:not(.tabs__item_active) {
            filter: brightness(170%);
        }
    }
}

.articles {
    display: flex;
    flex-wrap: wrap;
}

.article-card {
    position: relative;
    width: calc(25% - 15px);
    background: $white-color;
    border-radius: 5px;
    margin-bottom: 52px;

    &:not(:nth-child(4n+4)) {
        margin-right: 20px;
    }

    &__image {
        display: block;
        width: 100%;
        border-radius: 5px;
    }

    &__topic-tags {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &__tag {
        margin-right: 8px;
    }

    &__content {
        padding: 17px 20px;
    }

    &__date {
        display: block;
        color: $text-color;
        margin-bottom: 13px;
    }

    &__title {
        min-height: 50px;
        margin-bottom: 15px;
    }

    &__title-link {
        @include title-link('%medium-text', $dark-color, 6px);
    }

    &__paragraph {
        min-height: 60px;
        color: $text-color;
        margin-bottom: 20px;
    }

    &__author {
        display: flex;
        align-items: center;
        padding-top: 20px;
        border-top: 0.5px solid $main-color;
    }

    &__author-photo {
        @include width-height(50px, 50px);
        border-radius: 50px;
        margin-right: 17px;
    }

    &__author-title {
        @include bold-extra-small-text($main-font-family, 20px);
        color: $dark-color;
    }

    &__author-name {
        color: $dark-color;
        text-decoration: none;

        &:hover {
            color: $secondary-color;
            transition: all 0.5s;
        }
    }

    &__author-position {
        @include bold-extra-small-text($main-font-family, 20px);
        color: $text-color;
    }
}

.central-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $dark-color url(../images/sea-background.jpg);
    background-size: cover;
    padding: 176px 0 173px;

    &__tag {
        margin-bottom: 25px;
    }

    &__title {
        max-width: 530px;
        text-align: center;
        margin-bottom: 13px;
    }

    &__paragraph {
        max-width: 420px;
        color: $main-color;
        text-align: center;
        margin-bottom: 24px;
    }

    &__line {
        margin: 0 0 14px 0;
    }

    &__date {
        color: $main-color;
    }
}

.editor-pick {
    &__title {
        margin-bottom: 70px;
    }
}

.editor-pick-articles {
    display: flex;
}

.editor-pick-card {
    position: relative;
    width: calc(33.33% - 13.33px);
    border-radius: 5px;
    padding: 151px 40px 42px;

    &:not(:nth-child(3n+3)) {
        margin-right: 20px;
    }

    &__topic-tags {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &__date {
        display: block;
        color: $main-color;
        margin-bottom: 12px;
    }

    &__title {
        min-height: 48px;
        margin-bottom: 15px;
    }

    &__title-link {
        @include title-link('%medium-text', $white-color, 6px);
    }

    &__paragraph {
        color: $main-color;
    }
}

$article-backgrounds: "background-mountains", "background-suitcase", "background-girl";

@each $article-background in $article-backgrounds {
    @include background-image($article-background, jpg);
}

.footer {
    &__top-content {
        background: $dark-background-color;
    }

    &__top-content-inner {
        display: flex;
        padding: 105px 0;
    }

    &__column {
        width: calc(25% - 15px);

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__title {
        @extend %medium-text;
        color: $white-color;
        margin-bottom: 16px;
    }

    &__contact {
        @include extra-small-text(normal);
        display: block;
        color: $main-color;
        text-decoration: none;

        &:not(:last-child) {
            margin-bottom: 18px;
        }

        &:hover {
            color: $secondary-color;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__link {
        @include extra-small-text(normal);
        color: $main-color;
        text-decoration: none;

        &:hover {
            color: $secondary-color;
        }
    }

    &__address {
        @include extra-small-text(20px);
        color: $main-color;
    }

    &__bottom-content {
        background: $medium-dark-background-color;
    }

    &__bottom-content-inner {
        display: flex;
        justify-content: space-between;
        padding: 41px 0;
    }

    &__copyright {
        @extend %bold-small-text;
        color: $main-color;
    }
}

.subscribe-button {
    @extend %small-text;
    @include button(none);
    color: $main-color;

    &:hover {
        color: $secondary-color;
        transition: all 0.5s;
    }
}
