@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

@mixin extra-small-text($line-height) {
    font-family: $main-font-family;
    font-size: 12px;
    font-weight: 400;
    line-height: $line-height;
}

@mixin bold-extra-small-text($font-family, $line-height) {
    font-family: $font-family;
    font-size: 12px;
    font-weight: 700;
    line-height: $line-height;
}

@mixin button($background) {
    background: $background;
    border: none;
    padding: 0;
    cursor: pointer;
}

@mixin title-link($font, $color, $offset) {
    @extend #{$font};
    color: $color;
    text-decoration: none;

    &:hover {
        text-decoration: underline $secondary-color;
        text-underline-offset: $offset;
        transition: all 0.5s;
    }
}

@mixin background-image($name, $format) {
    .#{$name} {
        background: url(../images/#{$name}.#{$format});
    }
}
