%small-text {
    font-family: $main-font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

%bold-small-text {
    font-family: $main-font-family;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}

%medium-text {
    font-family: $main-font-family;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}

%large-text {
    font-family: $main-font-family;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}
