$main-color: #E5E5E5;
$secondary-color: #D4A373;
$white-color: #FFF;
$dark-color: #495057;
$text-color: #6C757D;
$light-background-color: #F8F9FA;
$medium-dark-background-color: #343A40;
$dark-background-color: #212529;
$black-transparent-color: rgba(0, 0, 0, 0.20);
$white-transparent-color: rgba(255, 255, 255, 0.15);
$light-transparent-color: rgba(212, 163, 115, 0.7);
$main-font-family: Lora, serif;
$secondary-font-family: Roboto, sans-serif;
